.collection {
    margin-top: 100px;
}

.collection__wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}


.collection__load {
    animation: loadingKey 1s infinite;
}

@keyframes loadingKey {
    from {
        opacity: 1;
    }

    to {
        opacity: .5;
    }
}

@media (max-width:1599px) {
    .collection {
        margin-top: 50px;
    }

    .collection__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:992px) {
    .collection__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:767px) {
    .collection__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:577px) {
    .collection__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}