.item__image img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}

.item {
	text-decoration: none;
	color: unset;
	border: 1px solid #000;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.item__title {
	font-size: 20px;
	font-weight: 700;
	font-family: "SFPro";
	margin-top: 20px;
}

.item__price {
	text-align: center;
	background: rgb(247, 81, 92);
	padding: 10px;
	font-family: "SFPro";
	font-weight: 700;
	font-size: 22px;
	border-radius: 10px;
	color: white;
	display: block;
	transition: all 0.3s;
	margin: 0 auto;
	align-self: flex-end;
	border: 1px solid transparent;
	width: 100%;
	margin-top: 10px;
}

.item__price:hover {
	background: white;
	color: rgb(247, 81, 92);
	border: 1px solid rgb(247, 81, 92);
}

.item__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}
