.hero {
    background: url('../../img/hero-bg.png') left no-repeat;
    background-size: 100%;
    margin-top: 100px;
    background-position: -65px 0;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.hero__info {
    padding-top: 150px;
    max-width: 900px;
}

.hero__subtitle {
    color: rgb(247, 81, 92);
    text-transform: uppercase;
    font-family: 'SFPro';
    font-size: 20px;
    font-weight: 700;
}

.hero__title {
    color: rgb(40, 42, 48);
    font-family: 'SFPro';
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    margin-top: 50px;
}

.hero__image {
    box-shadow: 35px 65px 0 rgba(229, 229, 229, 0.1);
}

.hero__image img {
    height: 100%;
}

.hero__actions {
    margin-top: 70px;
    display: flex;
    gap: 65px;
}

@media (max-width:1600px) {
    .hero__container {
        padding: 0 50px;
    }

    .hero {
        background-size: cover;
    }

    .hero__info {
        padding-top: 75px;
    }
}

@media (max-width:1200px) {

    .hero__wrapper {
        grid-template-columns: 2fr 1fr;
    }

    .hero__image img {
        width: 100%;
        object-fit: cover;
    }

    .hero__info {
        padding-top: 50px;
    }
}

@media (max-width:991px) {

    .hero__title {
        font-size: 40px;
        line-height: 130%;
    }

    .hero__actions {
        gap: 50px;
    }

}

@media (max-width:767px) {

    .hero__wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .hero__actions {
        justify-content: center;
    }

    .hero__image {
        max-height: 300px;
    }
}

@media (max-width:577px) {
    .hero__subtitle {
        font-size: 18px;
    }

    .hero__title {
        font-size: 30px;
    }

    .hero__actions {
        display: grid;
        gap: 50px
    }

    .hero__container {
        padding: 0 20px;
    }

    .hero__info {
        padding-left: 30px;
    }


    .hero__actions {
        width: 100%;
        align-items: unset;
        justify-content: unset;
    }

    .hero__actions button {
        width: 100%;
        justify-content: center;
    }

    .hero__image {
        margin-top: 50px;
    }
}