.button {
    background: rgb(247, 81, 92);
    color: rgb(255, 255, 255);
    font-family: "SFPro";
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    padding: 25px 55px;
    border: 1px solid transparent;
    width: max-content;
    transition: all .2s;
    text-decoration: none;
    display: block;
}

.button:hover {
    padding-left: 80px;
    padding-right: 30px;
    background: white;
    border: 1px solid rgb(247, 81, 92);
    color: rgb(247, 81, 92);
}

@media (max-width:991px) {
    .button {
        padding: 20px 45px;
    }

    .button:hover {
        padding-left: 60px;
    }
}

@media (max-width:577px) {
    .button {
        width: 100%;
        text-align: center;
    }
}