.about {
    margin-top: 150px;
}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    justify-content: center;
}

.about__image {
    background: url('../../img/about-bg.png');
    background-position: 0px -100px;
    padding: 0 50px;
}

.about__title {
    color: rgb(40, 42, 48);
    font-family: 'SFPro';
    font-size: 60px;
    font-weight: 700;
}

.about__title span {
    color: transparent;
    display: block;
    -webkit-text-stroke: 2px;
    font-size: 100px;
    -webkit-text-stroke-color: rgb(40, 42, 48);
}

.about__descr {
    margin-top: 55px;
    color: rgba(40, 42, 48, 0.5);
    font-family: 'Nunito Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    max-width: 520px;
}

.about__descr p {
    margin-top: 20px;
}

.about__button {
    margin-top: 50px;
}


@media (max-width:1200px) {

    .about__wrapper {
        gap: 50px;
    }

    .about__image img {
        width: 100%;
    }

    .about__descr {
        max-width: 100%;
    }
}

@media (max-width:991px) {
    .about__wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
        position: relative;
        padding: 30px;
    }

    .about__title {
        text-align: center;
        font-size: 40px;
    }

    .about__title span {
        font-size: 60px;
    }

    .about__descr {
        text-align: center;
        margin: 0 auto;
        margin-top: 30px;
    }

    .about__image {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
        padding: 0;
    }

    .about__info {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.5);
        border-radius: 30px;
        padding: 20px;
    }

    .about__button {
        margin: 0 auto;
        margin-top: 30px;
    }

    .about__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width:578px) {

    .about__title {
        text-align: center;
        font-size: 25px;
    }

    .about__title span {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .about__descr {
        font-size: 16px;
    }
}