.basket__item {
    display: grid;
    grid-template-columns: 150px 1fr 1fr .5fr .5fr .5fr;
    gap: 30px;
    align-items: center;
    padding: 30px;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #000;
    transition: all .3s;
    position: relative;
}

.basket__total {
    position: absolute;
    bottom: -1px;
    right: -1px;
    background: rgb(247, 81, 92);
    color: white;
    border-radius: 20px 0 20px 0;
    padding: 10px 15px;
    transition: all .2s;
    transform: translateX(0px);
    opacity: 1;
}

.basket__nototal {
    transform: translateX(50px);
    opacity: 0;
}

.basket__item:hover {
    border-radius: 10px;
}

.basket__item:hover .basket__total {
    border-radius: 20px 0 10px 0;
}

.basket__image {
    width: 150px;
    height: 150px;
}

.basket__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.basket__title {
    font-weight: 700;
    font-size: 20px;
}

.basket__count {
    display: flex;
    justify-content: center;
}

.basket__count input {
    width: 30px;
    transition: all .3s;
    border: none;
    text-align: center;
}


.basket__plus,
.basket__minus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
    transition: all .3s;
}

.basket__plus:hover,
.basket__minus:hover {
    background: rgb(247, 81, 92);
    color: white;
    border: 1px solid transparent;
}

.basket__rating {
    display: flex;
    font-size: 18px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.basket__item_delete {
    animation: translate .3s forwards;
}

@keyframes translate {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(100px);
        opacity: 0;

    }
}

.basket__delete {
    padding: 10px 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 0;
}

.basket__delete:hover {
    padding: 0;
}

.basket__price {
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.cart__empty {
    font-size: 22px;
    font-weight: 700;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.cart__empty img {
    max-width: 200px;
}

.cart__info {
    display: grid;
    gap: 10px;
    text-align: center;
}

.cart__info a {
    color: rgb(247, 81, 92);
    transition: all .3s;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.cart__info a:hover {
    border-bottom: 2px solid rgb(247, 81, 92);
}

.cart {
    margin-top: 50px;
}

.cart__title {
    font-size: 36px;
    font-family: SFpro;
    font-weight: 700;
    text-align: center;
}

.cart__total {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 700;
}



@media (max-width:1400px) {
    .basket__title {
        font-size: 18px;
    }
}

@media (max-width:1199px) {
    .basket__item {
        font-size: 18px;
        grid-template-columns: 150px 1fr 1fr 1fr 1fr 40px;
        gap: 10px 30px;
    }

    .basket__count {
        grid-column: 4;
        grid-row: 1;
    }

    .basket__rating {
        flex-direction: column;
    }

}

@media (max-width:992px) {
    .basket__item {
        font-size: 18px;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 30px;
    }

    .basket__count {
        grid-column: unset;
        grid-row: unset;
    }

    .basket__actions {
        position: absolute;
        top: -1px;
        right: -1px;
    }


    .basket__delete {
        border-radius: 0 20px 0 0;
    }

    .basket__item:hover .basket__delete {
        border-radius: 0 10px 0 0;
    }

}

@media (max-width:577px) {
    .basket__item {
        grid-template-columns: repeat(1, 1fr);
        border-radius: 0 20px 20px 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .basket__item:hover {
        border-radius: 0 10px 10px 10px;
    }

    .basket__image {
        width: 100%;
    }

    .basket__title {
        text-align: center;
    }

    .basket__rating {
        position: absolute;
        top: 0px;
        left: 0px;
        background: white;
        padding: 10px 15px;
    }

    .basket__rating p {
        display: none;
    }

    .cart__total {
        font-size: 20px;
    }

}