.icons {
    display: flex;
    align-items: center;
    gap: 85px;
}

.icons__item {
    cursor: pointer;
    transition: all .2s;
}

.icons__item:hover {
    transform: scale(1.1);
}

@media screen and (max-width:991px) {
    .icons {
        gap: 30px;
    }
}